body{
    background-color: rgb(12, 11, 70);
    font-family: "Helvetica";
    font-size: 40pt;

}
img{
    z-index: 1;
    margin-left: 65%;
    width: 30%;
    height:50%;
    top: 0%;
    position: static;
    border-radius: 30%;
}


.sidebar {
    outline-color: rgb(163, 33, 72);
    outline-offset: 0px;
    outline-style: solid;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 10%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgba(0, 9, 22, 0.247); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y:hidden;
    padding-top: 20px;
    
  }

.sidebar a {
    
    font-family: "Hauser";
    padding: 30px 1px 1px 10px;
    font-size: 25px;
    color: rgb(163, 33, 72);
    display: block;
    text-decoration: none;
    
  
    
}

  .sidebar a:hover {
    color:rgb(145, 4, 145);
  
}
  
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

.sidebar b {
    
  font-family: "Hauser";
  padding: 30px 1px 1px 10px;
  font-size: 25px;
  color: rgb(163, 33, 72);
  display: block;
  text-decoration: none;
}

.sidebar b:hover{
  color:rgb(145, 4, 145);
  display: inline-block;
}
    

.paragrafo{
    margin-left:200px;
    margin-right:200px;
}

.textocentral{
  margin-left: 12%;
  font-family: "Hauser";
  font-size:50pt;
  margin-top:-360px;


}

.textolongo{
  margin-top: 10%;
  margin-left: 12%;
  font-family:"Helvetica";
  font-size:23px;
  color: rgba(255, 180, 202, 0.644);

}


h1{
  color: #95163C;
}




@font-face{
  font-family: "Hauser";
  src: url(Hauser.otf);
}



